<section id="application-messaging" data-bind="visible: messages().length > 0" style="display:none;">
    <div class="messages" data-bind="foreach: messages">
        <div class="message" data-bind="css: type, cssAnimation: removedAnimation">
            <div class="message__content" data-bind="html: content"></div>
            <div class="message__remove-item" data-bind="click: $parent.remove, toolTip: {content: 'Dismiss'}">
                <span class="message__icon material-symbols-outlined">&#xe5cd</span>
            </div>
        </div>
    </div>
</section>